In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('one_hot_encode.csv')
df.head(5)

,title,rated,released,runtime,director,writer,actors,plot,language,country,...,Jessica Chastain,Chris Evans,Mark Ruffalo,Nicolas Cage,Chloë Grace Moretz,Johnny Depp,Kristen Stewart,Amy Adams,Robert De Niro,Chris Pine
0,Inception,PG-13,2010-07-16,148,Christopher Nolan,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",A thief who steals corporate secrets through t...,"English, Japanese, French","United Kingdom, United States",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iron Man 2,PG-13,2010-05-07,124,Jon Favreau,"Justin Theroux, Stan Lee, Don Heck","Robert Downey Jr., Mickey Rourke, Gwyneth Paltrow",With the world now aware of his identity as Ir...,"English, French, Russian",United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shutter Island,R,2010-02-19,138,Martin Scorsese,"Laeta Kalogridis, Dennis Lehane","Leonardo DiCaprio, Emily Mortimer, Mark Ruffalo","In 1954, a U.S. Marshal investigates the disap...","English, German",United States,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Scott Pilgrim vs. the World,PG-13,2010-08-13,112,Edgar Wright,"Michael Bacall, Edgar Wright, Bryan Lee O'Malley","Michael Cera, Mary Elizabeth Winstead, Kieran ...","In a magically realistic version of Toronto, a...",English,"United States, United Kingdom, Canada, Japan",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Grown Ups,PG-13,2010-06-25,102,Dennis Dugan,"Adam Sandler, Fred Wolf","Adam Sandler, Salma Hayek, Kevin James",After their high school basketball coach passe...,"English, Spanish",United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
plot_df = df[["plot"]]
plot_df.head()

                                                plot
0  A thief who steals corporate secrets through t...
1  With the world now aware of his identity as Ir...
2  In 1954, a U.S. Marshal investigates the disap...
3  In a magically realistic version of Toronto, a...
4  After their high school basketball coach passe...

In [4]:
import nltk

In [5]:
testing = plot_df["plot"][0]
print(testing)
print(testing.count("thief"))
print(f"Total words in this row: {len(testing)}")

A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.
1
Total words in this row: 220

In [6]:
vocab = nltk.FreqDist(testing)
print(len(vocab))
print(vocab.most_common(20))

31
[(' ', 39), ('t', 20), ('e', 19), ('a', 15), ('o', 14), ('s', 14), ('i', 13), ('h', 12), ('r', 10), ('n', 10), ('g', 6), ('d', 6), ('c', 5), ('m', 5), ('f', 4), ('p', 4), ('.', 4), ('l', 3), ('u', 3), ('y', 2)]

In [8]:
durp = nltk.FreqDist(plot_df)
mc = sorted([w for w in durp.most_common(100) if len(w[0]) > 3], key=lambda x: x[1], reverse=True)
print(mc)

[('plot', 1)]

In [9]:
# Import this to strip out punctuation
from string import punctuation
print(punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [10]:
# List comprehension
without_punct = [w for w in testing if w not in punctuation]
print(without_punct)

['A', ' ', 't', 'h', 'i', 'e', 'f', ' ', 'w', 'h', 'o', ' ', 's', 't', 'e', 'a', 'l', 's', ' ', 'c', 'o', 'r', 'p', 'o', 'r', 'a', 't', 'e', ' ', 's', 'e', 'c', 'r', 'e', 't', 's', ' ', 't', 'h', 'r', 'o', 'u', 'g', 'h', ' ', 't', 'h', 'e', ' ', 'u', 's', 'e', ' ', 'o', 'f', ' ', 'd', 'r', 'e', 'a', 'm', 's', 'h', 'a', 'r', 'i', 'n', 'g', ' ', 't', 'e', 'c', 'h', 'n', 'o', 'l', 'o', 'g', 'y', ' ', 'i', 's', ' ', 'g', 'i', 'v', 'e', 'n', ' ', 't', 'h', 'e', ' ', 'i', 'n', 'v', 'e', 'r', 's', 'e', ' ', 't', 'a', 's', 'k', ' ', 'o', 'f', ' ', 'p', 'l', 'a', 'n', 't', 'i', 'n', 'g', ' ', 'a', 'n', ' ', 'i', 'd', 'e', 'a', ' ', 'i', 'n', 't', 'o', ' ', 't', 'h', 'e', ' ', 'm', 'i', 'n', 'd', ' ', 'o', 'f', ' ', 'a', ' ', 'C', 'E', 'O', ' ', 'b', 'u', 't', ' ', 'h', 'i', 's', ' ', 't', 'r', 'a', 'g', 'i', 'c', ' ', 'p', 'a', 's', 't', ' ', 'm', 'a', 'y', ' ', 'd', 'o', 'o', 'm', ' ', 't', 'h', 'e', ' ', 'p', 'r', 'o', 'j', 'e', 'c', 't', ' ', 'a', 'n', 'd', ' ', 'h', 'i', 's', ' ', 't', 'e', 'a', 'm', ' ', 't', 'o', ' ', 'd', 'i', 's', 'a', 's', 't', 'e', 'r']

In [11]:
# To delete all stop words
from nltk.corpus import stopwords
sw = stopwords.words("english")
print(sw)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [12]:
# Print without stop words
without_sw = [w for w in without_punct if w not in sw]
print(len(without_sw))
print(without_sw)

125
['A', ' ', 'h', 'e', 'f', ' ', 'w', 'h', ' ', 'e', 'l', ' ', 'c', 'r', 'p', 'r', 'e', ' ', 'e', 'c', 'r', 'e', ' ', 'h', 'r', 'u', 'g', 'h', ' ', 'h', 'e', ' ', 'u', 'e', ' ', 'f', ' ', 'r', 'e', 'h', 'r', 'n', 'g', ' ', 'e', 'c', 'h', 'n', 'l', 'g', ' ', ' ', 'g', 'v', 'e', 'n', ' ', 'h', 'e', ' ', 'n', 'v', 'e', 'r', 'e', ' ', 'k', ' ', 'f', ' ', 'p', 'l', 'n', 'n', 'g', ' ', 'n', ' ', 'e', ' ', 'n', ' ', 'h', 'e', ' ', 'n', ' ', 'f', ' ', ' ', 'C', 'E', 'O', ' ', 'b', 'u', ' ', 'h', ' ', 'r', 'g', 'c', ' ', 'p', ' ', ' ', ' ', 'h', 'e', ' ', 'p', 'r', 'j', 'e', 'c', ' ', 'n', ' ', 'h', ' ', 'e', ' ', ' ', 'e', 'r']

In [13]:
# Testing PorterStemmer
from nltk.stem.porter import PorterStemmer
st = PorterStemmer()
words = ["is", "are", "bought", "buys", "giving", "jumps", "jumped", "birds", "thief", "do", "does", "did", "doing"]
for word in words:
    print(word, st.stem(word))

is is
are are
bought bought
buys buy
giving give
jumps jump
jumped jump
birds bird
thief thief
do do
does doe
did did
doing do

In [14]:
# Sentence and word tokenizers
from nltk.tokenize import sent_tokenize, word_tokenize
print(sent_tokenize(testing))
print(word_tokenize(testing))

['A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.']
['A', 'thief', 'who', 'steals', 'corporate', 'secrets', 'through', 'the', 'use', 'of', 'dream-sharing', 'technology', 'is', 'given', 'the', 'inverse', 'task', 'of', 'planting', 'an', 'idea', 'into', 'the', 'mind', 'of', 'a', 'C.E.O.', ',', 'but', 'his', 'tragic', 'past', 'may', 'doom', 'the', 'project', 'and', 'his', 'team', 'to', 'disaster', '.']

In [15]:
# Parts of speech tagging
my_pos = testing.split()
print(nltk.pos_tag(my_pos))
print(nltk.pos_tag(my_pos, tagset="universal"))

[('A', 'DT'), ('thief', 'NN'), ('who', 'WP'), ('steals', 'VBZ'), ('corporate', 'JJ'), ('secrets', 'NNS'), ('through', 'IN'), ('the', 'DT'), ('use', 'NN'), ('of', 'IN'), ('dream-sharing', 'JJ'), ('technology', 'NN'), ('is', 'VBZ'), ('given', 'VBN'), ('the', 'DT'), ('inverse', 'JJ'), ('task', 'NN'), ('of', 'IN'), ('planting', 'VBG'), ('an', 'DT'), ('idea', 'NN'), ('into', 'IN'), ('the', 'DT'), ('mind', 'NN'), ('of', 'IN'), ('a', 'DT'), ('C.E.O.,', 'NNP'), ('but', 'CC'), ('his', 'PRP$'), ('tragic', 'JJ'), ('past', 'NN'), ('may', 'MD'), ('doom', 'VB'), ('the', 'DT'), ('project', 'NN'), ('and', 'CC'), ('his', 'PRP$'), ('team', 'NN'), ('to', 'TO'), ('disaster.', 'VB')]
[('A', 'DET'), ('thief', 'NOUN'), ('who', 'PRON'), ('steals', 'VERB'), ('corporate', 'ADJ'), ('secrets', 'NOUN'), ('through', 'ADP'), ('the', 'DET'), ('use', 'NOUN'), ('of', 'ADP'), ('dream-sharing', 'ADJ'), ('technology', 'NOUN'), ('is', 'VERB'), ('given', 'VERB'), ('the', 'DET'), ('inverse', 'ADJ'), ('task', 'NOUN'), ('of', 'ADP'), ('planting', 'VERB'), ('an', 'DET'), ('idea', 'NOUN'), ('into', 'ADP'), ('the', 'DET'), ('mind', 'NOUN'), ('of', 'ADP'), ('a', 'DET'), ('C.E.O.,', 'NOUN'), ('but', 'CONJ'), ('his', 'PRON'), ('tragic', 'ADJ'), ('past', 'NOUN'), ('may', 'VERB'), ('doom', 'VERB'), ('the', 'DET'), ('project', 'NOUN'), ('and', 'CONJ'), ('his', 'PRON'), ('team', 'NOUN'), ('to', 'PRT'), ('disaster.', 'VERB')]